@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student

<h2>Student Details</h2>
<hr />
<div class="form-group row">
  <h3>Student Name: @Html.DisplayFor(model => model.StudentName)</h3>
</div>

<div class="form-group row">
  <h3>Student ID: @Html.DisplayFor(model => model.StudentId)</h3>
</div>

<div class="form-group row">
  <h3>Programming Course: @Html.DisplayFor(model => model.Major)</h3>
</div>

<div class="form-group row">
  <h3>Date Enrolled: @Html.DisplayFor(model => model.DateEnrolled)</h3>
</div>

<div class="form-group row">
  <h3>Current Term: @Html.DisplayFor(model => model.CurrentTerm)</h3>
</div>

<div class="form-group row">
  <h3>Current Year: @Html.DisplayFor(model => model.CurrentYear)</h3>
</div>

<div class="form-group row">
  <button style="background: transparent !important;">@Html.ActionLink("Back to list", "Index", null, null, new { style = "color: Black;"})</button>
</div>

<div class="form-group row">
  <button style="background: transparent !important;">@Html.ActionLink("Update Student Infomation", "Edit", null, null, new { id = Model.StudentId, style = "color: Black;" })</button>
</div>

<div class="form-group row">
  <button style="background: transparent !important;">@Html.ActionLink("Delete Student", "Delete", null, null, new { id = Model.StudentId,  style = "color: Black;"})</button>
</div>
@* <div class = "form-group row">
  <button style="background: transparent !important;">@Html.ActionLink("Home","Index","Home", null, new { style = "color: Black;"})</button>
</div> *@