@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student

<h2>Edit</h2>

<h4>Update Student Information: @Html.DisplayFor(model => model.StudentName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.StudentId)

    @Html.LabelFor(model => model.StudentName)
    @Html.EditorFor(model => model.StudentName)
    
    @Html.LabelFor(model => model.StudentId)
    @Html.TextBoxFor(model => model.StudentId)
    
    @Html.LabelFor(model => model.Major)
    @Html.TextBoxFor(model => model.Major)
    
    @Html.LabelFor(model => model.DateEnrolled)
    @Html.TextBoxFor(model => model.DateEnrolled)
    
    @Html.LabelFor(model => model.CurrentTerm)
    @Html.TextBoxFor(model => model.CurrentTerm)
    
    @Html.LabelFor(model => model.CurrentYear)
    @Html.TextBoxFor(model => model.CurrentYear)

    @Html.LabelFor(model => model.Course)
    @Html.DropDownList("CourseId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>