@{
  Layout = "_Layout";
}

@using UniversityRegistrar.Models;
@model UniversityRegistrar.Models.Course;

<h2>Course Details</h2>
<hr />
<h3>Course Name: @Html.DisplayFor(model => model.CourseName)</h3>

<ul>
  @if (@Model.Students.Count == 0)
  {
    <p>No Students enrolled in this course.</p>
  }
  
  @foreach (Student student in @Model.Students)
  {
    <p>@Html.ActionLink($"{student.StudentName}", "Details", "Students", new { id = student.StudentId })</p>
    
      @* <li>Student Name: @student.StudentName</li>
      <li>Student ID: @student.StudentId</li>
      <li>Date Enrolled: @student.DateEnrolled</li>
      <li>Major: @student.Major</li>
      <li>Current Term: @student.CurrentTerm</li>
      <li>Current Year: @student.CurrentYear</li> *@
      
  }
</ul>

<p>@Html.ActionLink("Back to Courses", "Index")</p>
<p>@Html.ActionLink("Edit Courses", "Edit", new { id = Model.CourseId})</p>
<p>@Html.ActionLink("Delete Course", "Delete", new {id = Model.CourseId})</p>
<button>@Html.ActionLink("Add A Student", "Create", "Students")</button>